<!-- <div class="d-flex justify-content-center border-box"> -->
<!-- <span>COMMING SOON....................</span>
</div> -->
<!-- <div class="d-flex p-2 style-container">
<table>
    <thead>
    <th>Name</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Count of days</th>
    <th>Date from</th>
    <th>date upto</th>
</thead>
</table>
</div> -->
<div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Count of days</th>
        <th>Date from</th>
        <th>date upto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dom</td>
        <td>Milk</td>
        <td>20</td>
        <td>RS.1000</td>
        <td>2</td>
        <td>20oct2022</td>
        <td>20nov2022</td>
      </tr>
      <tr class="active-row">
        <td>Melissa</td>
        <td>Butter</td>
        <td>20</td>
        <td>RS.1000</td>
        <td>2</td>
        <td>20oct2022</td>
        <td>20nov2022</td>
      </tr>
      <tr>
        <td>Tom</td>
        <td>Ghee</td>
        <td>20</td>
        <td>RS.1000</td>
        <td>2</td>
        <td>20oct2022</td>
        <td>20nov2022</td>
      </tr>
      <tr>
        <td>Dom</td>
        <td>Milk</td>
        <td>20</td>
        <td>RS.1000</td>
        <td>2</td>
        <td>20oct2022</td>
        <td>20nov2022</td>
      </tr>
      <tr>
        <td>Shawn</td>
        <td>Rice</td>
        <td>20</td>
        <td>RS.1000</td>
        <td>2</td>
        <td>20oct2022</td>
        <td>20nov2022</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end col-12">
    <button class="col-1">Delet</button>
    <button class="col-1">Edit</button>
    <button class="col-1">Cancel</button>
  </div>
</div>
