/* You can add global styles to this file, and also import other style files */


html{
  height: auto;
  width: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
  }
  
  body div {
    width: 100%;
    height: 100%;
    background: whitesmoke;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #009879; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke; 
  }
  button{
    margin-right: 10px;
    background-color: darkgrey;
    border: 1px solid white;
    bottom: 6px;
  }